p {
    >a:hover {
        text-decoration-line: underline;
    }
}
.wrapperClass {
    width: 100px;
    height: 100px;
    fill: green;
}

.web-worker-playground img {
    margin-bottom: 5px;
}

.web-worker-modal-body {
    padding: 0;
}

.cdk-overlay-container sol-modal > .sol-modal-wrapper > .modal-body-wrapper {
    min-height: 60px;
}

.cdk-overlay-container sol-modal > .sol-modal-wrapper > .modal-body-wrapper > mat-dialog-content > .body-message {
    margin-left: 0;
}

.buttons {
    margin-top: 20px;
    button {
        margin-bottom: 20px;
        margin-right: 20px;
    }
}


.tab-wrapper {
    height: 300px;
    word-break: break-all;

    cxone-tab > div {
            overflow: scroll;
    }

    .notifications {
        max-height: 100px;
    }
}
