:root {
  --darkcharcoal: #333333;
}

.ag-cell-first-right-pinned {
  z-index: 500 !important;
}

.menu-item-iconGrid {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 36px;
  width: 100%;

  cxone-svg-sprite-icon {
    .svg-sprite-icon {
      padding: 10px !important;

      &:hover {
        background: #f2f2f2;
      }
    }
  }

  cxone-svg-sprite-icon.monitoring-blue-icon {
    .svg-sprite-icon {
      background: #f2f2f2;
    }
  }

  .menu-items-actions {
    background-color: transparent;
    border: none;
  }

  .disabled-actions {
    cursor: default;
    opacity: 0.4;
    .disabled-cursor {
      pointer-events: none;
    }
  }
}

.monitoring-tooltip-container {
  .tooltip-arrow {
    background-color: var(--darkcharcoal);
    height: 10px;
    width: 10px;
    border: 1px solid var(--darkcharcoal) !important;
    top: 2px !important;
    margin-left: 1px !important;
  }

  .tooltip-inner {
    background: var(--darkcharcoal);
    border-radius: 4px;
    color: #fff;
    padding: 3px 8px;
    font: normal normal normal 10px/10px OpenSans, sans-serif;
    border: 1px solid var(--darkcharcoal) !important;
    position: relative;
    z-index: 1;
    box-shadow: none;
    font-size: 12px;
    line-height: 17px;
  }
}
