:root {
  --lochmara: #007cbe;
  --cadet-blue: #a7b9c8;
  --japanese-laurel: #0c8;
  --black-squeeze: #eaf1f7;
  --white: #ffffff;
  --porcelain: #e1e5e8;
  --bombay: #b6b7bc;
  --mine-shaft: #373e41;
  --text-grey: #777777;
  --free-speech-blue: #3f5c69;
  --outline-grey: #d2d8db;
  --outline-color-schedule: #c5c5c5;
  --panel-header-color: #292929;
  --scheduler-time-row-border: #e3e9ee;
  --schedule-wrapper-licenses-info-color: #007ab8;
  --schedule-time-label: #3f424e;
  --agent-wrapper-border: #e6e6e6;
  --date-range-error: #c2041a;
  --darkcharcoal: #333333;
  --activity-background-color: #26a65b;
  --light-grey-color: #9b9ea0;
  --very-dark-grey-color: #404040;
  --very-light-grey: #f5f5f5;
  --pure-red: #ff0000;
  --dark-blue: #191c21;
  --slate-grey: #93a4aa;
  --alizarin-red: #e4263c;
}
