.grid-wrapper {
  display: flex;
  flex-direction: column;

  section.main-content {
    display: flex;
    position: relative;
    top: 56px;
    height: calc(100vh - 56px);
    overflow: hidden;

    main {
      overflow: hidden;
      background: var(--black-squeeze);
      flex: 1;
    }
  }

  .no-license-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span {
      margin-top: 15px;
      font-size: 20px;
      color: #5b7c8c;
    }
  }
}

.softphone-audio {
  display: none;
}
