<!-- eslint-disable @angular-eslint/template/accessibility-label-has-associated-control -->
<!-- eslint-disable @angular-eslint/template/accessibility-label-for -->
<div class="app-menu">
  <div class="app-header">
    <div class="title">
      <span class="title-name">Phone</span>
    </div>
    <div class="option-button">
      <button class="button cancel-button" type="button" (click)="cancelEdit(myForm)">Cancel</button>
      <button class="button save-button" type="submit" (click)="saveForm(myForm)">Save</button>
    </div>
  </div>
  <div class="constraints" (ngSubmit)="saveForm(myForm)">
    <form #myForm (ngSubmit)="saveForm(myForm)">
      <div class="constraint-item" *ngFor="let constraint of state; let i = index">
        <div class="item-name">{{constraint }}</div>
        <div class="item-enabled">
          <label class="option-title">
            <input type="radio" [(ngModel)]="selectedOptions[i]" ng-click="updateSelectedValue('Enabled')" name="{{ constraint }}" value="Enabled" /> Enabled
          </label>
        </div>
        <div class="item-disabled">
          <label class="option-title">
            <input type="radio" [(ngModel)]="selectedOptions[i]" ng-click="updateSelectedValue('Disabled')" name="{{ constraint }}" value="Disabled" />
            Disabled
          </label>
        </div>
        <div class="item-hidden">
          <label class="option-title">
            <input type="radio" [(ngModel)]="selectedOptions[i]" ng-click="updateSelectedValue('Hidden')" name="{{ constraint }}" value="Hidden" /> Hidden
          </label>
        </div>
      </div>
    </form>
  </div>
</div>
