<div class = "grid-demo">
  <h1>Grid Demo (enterprise version)</h1>

  <div>
       <p>
           For more info, please refer to 
        <a href = "https://www.ag-grid.com/" tabindex="0">www.ag-grid.com</a>
      </p>
  </div>
  <a [routerLink]="['/hello']">
    <button class="cxone-btn btn-big btn-primary" tabindex="0">
          Back to Angular Validation page
    </button>
  </a>
  
  <div class = "tabs-container">
    <cxone-tabs >
      <cxone-tab title="table with side bar and stats" [isActive]="true">
        <div>
          <div class="grid-container" >
            <cxone-grid class="nice-grid" [gridOptions]="grids[0].options"></cxone-grid>
          </div>
        </div>
      </cxone-tab>
      <cxone-tab title="table with charts" minWidth="190" >
        <div class = "table-with-chart-header">
          <div>
            <p>Configure from which columns or pairs of columns you want to generate charts , then charts and satistics will generate automatically&nbsp;from the data.</p>
            <p>You can see the data in 2 ways:</p>
            <p>&nbsp; 1 by triggering a modal through the Grid api.</p>
            <p>&nbsp; 2 by selecting the rows range you want, right click and select Chart Range from the dropdown.</p>
          </div>
          <div class = "open-chart-btn">
            <button  (click) = "openCharts()"
                class="cxone-btn btn-primary  btn-big open-chart-btn" tabindex="0">
                  Open chart
            </button>
          </div>
         </div>
        <div>
          <div class="grid-container">
            <cxone-grid class="nice-grid" [gridOptions]="grids[1].options"></cxone-grid>
          </div>
        </div>
      </cxone-tab>
      <cxone-tab title="tree table" >
        <div class="grid-container">
          <cxone-grid class="nice-grid" [gridOptions]="grids[2].options"></cxone-grid>
        </div>
      </cxone-tab>
    </cxone-tabs>
  </div>
 
</div>


